<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Perbarui Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="6" size-xl="6">

      <form [formGroup]="updateForm" (ngSubmit)="update(updateForm)">
        <ion-item no-padding>
          <ion-input placeholder="Kata Sandi Lama" type="password" id="old_password" name="old_password"
            formControlName="old_password" required></ion-input>
        </ion-item>
        <div class="error mt10" *ngIf="updateForm.get('old_password').touched && updateForm.get('old_password').hasError('required')">
          <ion-label color="dark">
            <ion-icon name="warning" color="warning"></ion-icon>
            <ion-text class="ion-margin">Kata Sandi Lama Tidak Boleh Kosong !</ion-text>
          </ion-label>
        </div>
        <ion-item no-padding>
          <ion-input placeholder="Kata Sandi" type="password" id="new_password" name="new_password"
            formControlName="new_password" required></ion-input>
        </ion-item>
        <div class="error mt10" *ngIf="updateForm.get('new_password').touched && updateForm.get('new_password').hasError('required')">
          <ion-label color="dark">
            <ion-icon name="warning" color="warning"></ion-icon>
            <ion-text class="ion-margin">Kata Sandi Baru Tidak Boleh Kosong !</ion-text>
          </ion-label>
        </div>
        <div class="ion-margin-top" *ngIf="updateForm.get('new_password').touched && updateForm.get('new_password').hasError('minlength')">
          <ion-label>
            <ion-icon name="warning" color="warning"></ion-icon>
            <ion-text class="ion-margin">Kata Sandi Harus Terdiri dari 8 Karakter !</ion-text>
          </ion-label>
        </div>
        <ion-item no-padding>
          <ion-input placeholder="Konfirmasi Kata Sandi" type="password" id="c_new_password" name="c_new_password"
            formControlName="c_new_password" required></ion-input>
        </ion-item>
        <div class="ion-margin-top" *ngIf="updateForm.get('c_new_password').touched && this.updateForm.get('c_new_password').hasError('matchPassword')">
          <ion-label>
            <ion-icon name="warning" color="warning"></ion-icon>
            <ion-text class="ion-margin">Kata Sandi Tidak Sesuai !</ion-text>
          </ion-label>
        </div>
        <ion-button expand="block" shape="round" type="submit" [disabled]="!updateForm.valid"
          color="danger" class="ion-margin-top">Simpan</ion-button>
      </form>

    </ion-col>
  </ion-row>
</ion-content>
